.carousel-caption {
   color: black;
}

.carousel-control {
   border-radius: 10px;
}

.carousel-indicators li {
   background-color: black;
}

   .carousel-indicators li.active {
      background-color: #265a88;
   }

.page-header {
   margin-top: 0;
}

#BookStoreCategory {
   width: 20%;
   height: 100%;
   float: left;
}

#BookStoreCategory li.active {
   background-color: #e7e7e7;
}

#BookStorePanel {
   width: calc( 100% - 10px );
   margin-left: 10px;
}

@media (max-width: 992px) {
   #BookStoreCategory {
      float: none;
      width: 100%;
   }
}

.book {
   min-width: 215px;
}

.book .thumbnail {
   min-width: 160px;
   min-height: 260px;
}

#MusicStoreCategory {
   width: 20%;
   height: 100%;
   float: left;
}

#MusicStoreCategory li.active {
   background-color: #e7e7e7;
}

#MusicStorePanel {
   width: calc( 100% - 10px );
   margin-left: 10px;
}

@media (max-width: 992px) {
   #MusicStoreCategory {
      float: none;
      width: 100%;
   }
}

.music {
   min-width: 265px;
}

.glyphicon-star {
   color: goldenrod;
}