################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DotNetifyLib.Core/bin
/DotNetifyLib.Core/obj
/DotNetifyLib/bin
/DotNetifyLib/obj
/DotNetifyLib.Core/DotNetifyLib.Core.xproj.user
/DotNetifyLib.Core/project.lock.json
/DotNetifyLib.SignalR/bin
/DotNetifyLib.SignalR/obj
/DotNetifyLib.SignalR/DotNetifyLib.SignalR.xproj.user
/DotNetifyLib.SignalR/project.lock.json
/packages
/UnitTest/obj/Debug
/ViewModels/obj/Debug
/ViewModels.Examples/bin/Debug/netstandard1.6
/ViewModels.Examples/obj/Debug/netstandard1.6
/ViewModels.Examples/project.lock.json
/ViewModels.Examples/ViewModels.Examples.xproj.user
/WebApplication/obj/Debug
/WebApplication.Core/bin/Debug/netcoreapp1.0
/WebApplication/WebApplication.csproj.user
/WebApplication.Core/obj/Debug/netcoreapp1.0
/WebApplication.Core/project.lock.json
/WebApplication.Core/WebApplication.Core.xproj.user
/WebApplication/Scripts/lib
/WebApplication/bin
/UnitTest/bin/Debug
/ViewModels/bin/Debug
/WebApplication/Scripts/Demo/TreeView.js
/WebApplication/Scripts/Demo/LiveChart.js
/WebApplication/Scripts/Demo/JobQueue.js
/WebApplication/Scripts/Demo/GridView.js
/WebApplication/Scripts/Demo/Dashboard.js
/WebApplication/Scripts/Demo/CompositeView.js
/WebApplication/Scripts/Demo/BetterList.js
/dotNetify-1.1.0.tgz
/WebApplication.Core/node_modules
/DotNetifyLib/obj/Release
/UnitTest/obj/Release
/ViewModels/obj/Release
/WebApplication/obj/Release
/DotNetifyLib.Core/bin
/DotNetifyLib.Core/lib
/DotNetifyLib.Core/obj/Release/netstandard1.6
/DotNetifyLib.SignalR/bin/Release/netstandard1.6
/DotNetifyLib.SignalR/obj/Release/netstandard1.6
/node_modules
/UnitTest/bin/Release
/ViewModels/bin/Release
/ViewModels.Examples/bin/Release/netstandard1.6
/ViewModels.Examples/obj/Release/netstandard1.6
/WebApplication/Scripts/Demo/TreeView.js.map
/WebApplication/Scripts/Demo/LiveChart.js.map
/WebApplication/Scripts/Demo/JobQueue.js.map
/WebApplication/Scripts/Demo/GridView.js.map
/WebApplication/Scripts/Demo/Dashboard.js.map
/WebApplication/Scripts/Demo/CompositeView.js.map
/WebApplication/Scripts/Demo/BetterList.js.map
/WebApplication.Core/bin
/WebApplication.Core/obj/Release/netcoreapp1.0
/WebApplication.Core.ReactJS/node_modules
/WebApplication.Core.ReactJS/obj/Debug/netcoreapp1.0
/WebApplication.Core.ReactJS/bin/Debug/netcoreapp1.0
/WebApplication.Core.ReactJS/WebApplication.Core.ReactJS.xproj.user
/WebApplication.Core.React/bin/Debug/netcoreapp1.0
/WebApplication.Core.React/node_modules
/WebApplication.Core.React/obj/Debug/netcoreapp1.0
/WebApplication.Core.React/WebApplication.Core.React.xproj.user
/WebApplication.Core.React/bin
/WebApplication.Core.React/obj/Release/netcoreapp1.0
/WebApplication.Core.React/Properties/PublishProfiles
/WebApplication.Core.React/wwwroot/js/SimpleList.min.js
/WebApplication.Core.React/wwwroot/js/Scope.min.js
/WebApplication.Core.React/wwwroot/js/index.min.js
/WebApplication.Core.React/wwwroot/js/HelloWorld.min.js
/WebApplication.Core.React/wwwroot/js/ControlTypes.min.js
/WebApplication.Core.React/wwwroot/js/CompositeView/CompositeView.min.js
/WebApplication.Core.React/wwwroot/js/GridView.min.js
/WebApplication.Core.React/wwwroot/js/CompositeView/PaginatedTable.min.js
/WebApplication.Core.React/wwwroot/js/LiveChart.min.js
/Backup
/DotNetifyLib.Core/obj
/DotNetifyLib.SignalR/obj
/ViewModels.Examples/obj
/WebApplication.Core/obj
/WebApplication.Core.React/obj
/UpgradeLog.htm
/DotNetifyLib.SignalR/bin
/ASP.NET Core Demo/WebApplication.Core/node_modules
/ASP.NET Core Demo/WebApplication.Core/obj
/ASP.NET Core Demo/ViewModels.Examples/bin
/ASP.NET Core Demo/ViewModels.Examples/obj
/ASP.NET Core Demo/WebApplication.Core/bin
/ASP.NET Core Demo/WebApplication.Core.React/bin
/ASP.NET Core Demo/WebApplication.Core.React/node_modules
/ASP.NET Core Demo/WebApplication.Core.React/obj
/ASP.NET Demo/ViewModels/bin
/ASP.NET Demo/ViewModels/obj
/ASP.NET Demo/WebApplication/Bin
/ASP.NET Demo/WebApplication/obj
/ASP.NET Core Demo/ViewModels/bin
/ASP.NET Core Demo/ViewModels/obj
/ASP.NET Core Demo/WebApplication.Knockout/bin
/ASP.NET Core Demo/WebApplication.Knockout/node_modules
/ASP.NET Core Demo/WebApplication.Knockout/obj
/ASP.NET Core Demo/WebApplication.React/bin
/ASP.NET Core Demo/WebApplication.React/node_modules
/ASP.NET Core Demo/WebApplication.React/obj
/ASP.NET Demo/WebApplication.Knockout/Bin
/ASP.NET Demo/WebApplication.Knockout/obj
/ASP.NET Demo/WebApplication.Knockout/Scripts/lib
/ASP.NET Core Demo/UnitTests/bin/Debug/netcoreapp2.0
/ASP.NET Core Demo/UnitTests/obj
/ASP.NET Demo/UnitTest/bin
/ASP.NET Demo/UnitTest/obj
/ASP.NET Demo/UnitTests/bin/Debug
/ASP.NET Demo/UnitTests/obj/Debug
/DotNetifyLib.SignalR.Owin/bin/Debug
/DotNetifyLib.SignalR.Owin/obj/Debug
/DotNetifyLib.SignalR.Owin/obj/Release
/DotNetifyLib.SignalR.Owin/bin/Release
/ASP.NET Core Demo/UnitTests/bin/Release/netcoreapp2.0
/ASP.NET Demo/UnitTests/bin/Release
/ASP.NET Demo/UnitTests/obj/Release
