################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DotNetifyLib.Core/bin/Debug/netstandard1.6
/DotNetifyLib.Core/obj/Debug/netstandard1.6
/DotNetifyLib/obj/Debug
/DotNetifyLib/bin
/DotNetifyLib.Core/DotNetifyLib.Core.xproj.user
/DotNetifyLib.Core/project.lock.json
/DotNetifyLib.SignalR/bin/Debug/netstandard1.6
/DotNetifyLib.SignalR/obj/Debug/netstandard1.6
/DotNetifyLib.SignalR/DotNetifyLib.SignalR.xproj.user
/DotNetifyLib.SignalR/project.lock.json
/packages
/UnitTest/obj/Debug
/ViewModels/obj/Debug
/ViewModels.Examples/bin/Debug/netstandard1.6
/ViewModels.Examples/obj/Debug/netstandard1.6
/ViewModels.Examples/project.lock.json
/ViewModels.Examples/ViewModels.Examples.xproj.user
/WebApplication/obj/Debug
/WebApplication.Core/bin/Debug/netcoreapp1.0
/WebApplication/WebApplication.csproj.user
/WebApplication.Core/obj/Debug/netcoreapp1.0
/WebApplication.Core/project.lock.json
/WebApplication.Core/WebApplication.Core.xproj.user
/WebApplication/Scripts/lib
/WebApplication/bin
/UnitTest/bin/Debug
/ViewModels/bin/Debug
/WebApplication/Scripts/Demo/TreeView.js
/WebApplication/Scripts/Demo/LiveChart.js
/WebApplication/Scripts/Demo/JobQueue.js
/WebApplication/Scripts/Demo/GridView.js
/WebApplication/Scripts/Demo/Dashboard.js
/WebApplication/Scripts/Demo/CompositeView.js
/WebApplication/Scripts/Demo/BetterList.js
/dotNetify-1.1.0.tgz
/WebApplication.Core/node_modules
/DotNetifyLib/obj/Release
/UnitTest/obj/Release
/ViewModels/obj/Release
/WebApplication/obj/Release
/DotNetifyLib.Core/bin
/DotNetifyLib.Core/lib
/DotNetifyLib.Core/obj/Release/netstandard1.6
/DotNetifyLib.SignalR/bin/Release/netstandard1.6
/DotNetifyLib.SignalR/obj/Release/netstandard1.6
/node_modules
/UnitTest/bin/Release
/ViewModels/bin/Release
/ViewModels.Examples/bin/Release/netstandard1.6
/ViewModels.Examples/obj/Release/netstandard1.6
/WebApplication/Scripts/Demo/TreeView.js.map
/WebApplication/Scripts/Demo/LiveChart.js.map
/WebApplication/Scripts/Demo/JobQueue.js.map
/WebApplication/Scripts/Demo/GridView.js.map
/WebApplication/Scripts/Demo/Dashboard.js.map
/WebApplication/Scripts/Demo/CompositeView.js.map
/WebApplication/Scripts/Demo/BetterList.js.map
/WebApplication.Core/bin
/WebApplication.Core/obj/Release/netcoreapp1.0
/WebApplication.Core.ReactJS/node_modules
/WebApplication.Core.ReactJS/obj/Debug/netcoreapp1.0
/WebApplication.Core.ReactJS/bin/Debug/netcoreapp1.0
/WebApplication.Core.ReactJS/WebApplication.Core.ReactJS.xproj.user
/WebApplication.Core.React/bin/Debug/netcoreapp1.0
/WebApplication.Core.React/node_modules
/WebApplication.Core.React/obj/Debug/netcoreapp1.0
/WebApplication.Core.React/WebApplication.Core.React.xproj.user
/WebApplication.Core.React/bin
