body {
  padding: 0 2rem;
  background: whitesmoke;
}

h2 {
  font-weight: 400;
  margin-top: 1.5rem;
}

table {
  width: 100%;
  max-width: 800px;
  margin: 1rem 0;
  border: 1px solid lightgray;
}

td {
  padding-left: .5rem;
}

header,
footer {
  display: flex;
  flex-direction: row;
}

header > *,
footer > * {
  margin-right: .5rem;
}

input.form-control {
  width: 15rem;
}

.selected {
  background: lightblue;
}

.red-text {
  color: red;
  font-weight: 500;
}
