@inject Microsoft.AspNetCore.Components.IUriHelper UriHelper

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">DotNetify-Blazor</a>
    <button class="navbar-toggler" onclick="@ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@navMenuCssClass" onclick="@ToggleNavMenu">
    <VMContext VM="MainNav">
        <d-nav-menu id="NavMenu" selected="@selectedRoute"></d-nav-menu>
    </VMContext>
</div>

@functions {
    string selectedRoute;
    bool collapseNavMenu = true;
    string navMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override void OnInit()
    {
        selectedRoute = GetRelativePath( UriHelper.GetAbsoluteUri() );
        UriHelper.OnLocationChanged += ( sender, url ) => { selectedRoute = GetRelativePath( url ); };
    }

    private string GetRelativePath( string url )
    {
        return UriHelper.ToBaseRelativePath( UriHelper.GetBaseUri(), url );
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}