@using DotNetify.Routing
@model IRoutable

<div data-vm="BookStoreVM" @Html.Raw(Model != null ? Model.InitArgs(ViewData["Routing"]) : null)>
   <div id="BookStoreCategory">
      <br />
      <div class="panel panel-success">
         <div class="panel-heading">
            <h3 class="panel-title">Select a category</h3>
         </div>
         <div class="panel-body">
            <ul class="nav nav-sidebar" data-bind="foreach: Categories">
               <li data-bind="css: { active: $root.$router.isActive(Route) }"><a href="" data-bind="text: Name, vmRoute: Route"></a></li>
            </ul>
         </div>
      </div>
   </div>
</div>

<div id="BookStorePanel" class="container-fluid">
   <div class="row">
      <div class="col-md-9">
         <div id="BookStoreContent">
            @if (Model != null) { @Html.Action("Routing", new { iViewData = ViewData["Routing"] }) }
         </div>
      </div>
   </div>
</div>