<div id="carousel-webstore" class="carousel slide" data-ride="carousel" data-vm="HomeVM">
   <!-- Indicators -->
   <ol class="carousel-indicators">
      <li data-target="#carousel-webstore" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-webstore" data-slide-to="1"></li>
   </ol>

   <!-- Wrapper for slides -->
   <div class="carousel-inner">
      <div class="item active">
         <a data-bind="vmRoute: Book">
            <img src="/Content/Images/books.jpg" alt="books">
            <div class="carousel-caption">
               <h1>The Book Store</h1>
            </div>
         </a>
      </div>
      <div class="item">
         <a data-bind="vmRoute: Music">
            <img src="/Content/Images/music.jpg" alt="music">
            <div class="carousel-caption">
               <h1>The Music Store</h1>
            </div>
         </a>
      </div>
   </div>

   <!-- Controls -->
   <a class="left carousel-control" href="#carousel-webstore" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
   </a>
   <a class="right carousel-control" href="#carousel-webstore" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
   </a>
</div> <!-- Carousel -->
