@using DotNetify.Routing
@model IRoutable

<!DOCTYPE html>
<html>
<head>
   <title></title>
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="/Content/DemoCss/bootstrap.min.css" rel="stylesheet">
   <link href="/Content/DemoCss/webstore.css" rel="stylesheet">
   <script src="/Scripts/require.min.js" data-main="/Scripts/Demo/demoApp"></script>
</head>
<body>
   <div class="container-fluid">
      <div class="header clearfix">
         <h3>Example: Web Store</h3>
      </div>
      <!-- Fixed navbar -->
      <div class="container-fluid" data-vm="NavBarVM" @Html.Raw(Model.InitArgs(ViewData["Routing"]))>
         <nav class="navbar navbar-default">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand"><b>ACME</b></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
               <ul class="nav navbar-nav" data-bind="foreach: MenuItems">
                  <li data-bind="css: { active: $root.$router.isActive(Route) }"><a data-bind="text: Caption, vmRoute: Route"></a></li>
               </ul>
            </div><!--/.nav-collapse -->
         </nav>
      </div>
      <div id="NavContent" class="container-fluid">
         @if (Model != null)
         { @Html.Action("Routing", new { iViewData = ViewData["Routing"] }) }
      </div> <!-- /container -->
   </div>
</body>
</html>
