html {
   -webkit-font-smoothing: antialiased;
   font-size: .9rem;
}

p,
.markdown div > ul > li {
   font-size: 1.1rem;
   line-height: 1.8rem;
}

div > h2 {
   margin-bottom: 1rem;
}

.markdown pre {
   margin: 0;
   font-size: .9rem;
}

.markdown pre .language-jsx {
   font-size: 1rem;
}

.markdown pre span.prism-code {
   margin-top: 1rem;
   margin-bottom: 1rem;
}

.markdown pre + p {
   margin-top: 1rem;
}

.markdown h2 {
   margin-bottom: 2rem;
}

.markdown h4 {
   margin-bottom: 1.5rem;
   padding-bottom: .5rem;
   border-bottom: 1px solid #ccc;
}

.markdown * + * > h4,
.markdown * + h4 {
   margin-top: 3rem;
}

.markdown blockquote {
   border-left: .5rem solid #ccc;
   padding-left: 1rem;
   margin-left: 3rem;
   font-style: italic;
}

.markdown ol {
   margin-left: -1.5rem;
   font-weight: 600;
}

@media (max-width: 768px) {
   html,
   .markdown pre,
   .markdown pre .language-jsx {
      font-size: .9rem;
   }
}
