body {
   background-color: #eef0f0;
   font-family: 'roboto', sans-serif;
}

.well {
   background-color: #ced0d0;
   padding: 0 1em;
   margin-bottom: 0px;
   font-family: Ubuntu, 'Helvetica Neue', sans-serif;
   text-shadow: 0px 0px 10px white;
}

   .well h1 {
      margin: 12px 0 4px 4px;
      font-size: x-large;
   }

   .well img {
      margin-top: -5px;
   }

.jumbotron {
   background-color: #f6f6f6;
}

label {
   font-weight: normal;
}

.nav-menu {
   padding: 0;
   background-color: rgb(40,50,55);
   max-width: 24rem;
}

a.example-link:hover {
   background-color: black;
}

.circle {
   display: inline-block;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background: #92d050;
   box-shadow: white 0px 0px 20px 0px;
}
