
body {
    background-color: #eef0f0;
    font-family: 'roboto', sans-serif;
}

.well {
   background-color: #ced0d0;
   padding: 0 1em;
   margin-bottom: 0px;
}

.jumbotron {
   background-color: #f6f6f6;
}

h3 {
   font-size: large;
}

ul {
   padding-left: 20px;
}

li > a ~ div {
   font-size: x-small;
   margin-bottom: .5em;
}

label {
   font-weight: normal;
}

.nav-menu {
   padding-top: 20px;
   color: rgb(125,135,140);
   background-color:rgb(40,50,55);
}

.nav-menu h3 {
   color: rgba(146,208,80,.8);
}
.nav-menu a {
   color: #b8c7ce;
}

.copyright-notice {
   font-size: x-small;
}

.no-bullet li {
    list-style-type: none;
}

span.tree-indent {
    display: inline-block;
    width: 32px;
}

span.canExpand {
    color: #31b0d5;
}

span.tree-btn.btn-lg {
    padding: 8px 8px;
}

span.indent {
    display: inline-block;
    width: 24px;
}

span.canExpand {
    color: #31b0d5;
}

span.btn-lg {
    padding: 8px 4px;
}

.btn-md {
    padding: 4px;
    border-radius: 4px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.bigfont {
    font-weight: bold;
    font-size: x-large;
}

.circle {
   display: inline-block;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background: #92d050;
   box-shadow: white 0px 0px 20px 0px;
}