@page "/counter"

<h1>Counter</h1>

<VMContext @ref="@vm" VM="Counter" OnStateChange="(CounterState state) => HandleStateChange(state)">
    <p>Current count: @state?.CurrentCount</p>

    <button class="btn btn-primary" @onclick="IncrementCountAsync">Click me</button>
</VMContext>

@code {
   CounterState state;
   VMContext<CounterState> vm;

   public class CounterState
   {
       public int CurrentCount { get; set; }
   }

   void HandleStateChange(CounterState newState )
   {
       state = newState;
       StateHasChanged();
   }

   async void IncrementCountAsync()
   {
       await vm.DispatchAsync("IncrementCount");
   }
}