@page "/counter"

<h1>Counter</h1>

<VMContext @ref="@vm" VM="Counter" OnStateChange="HandleStateChange">
    <p>Current count: @state?.CurrentCount</p>

    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
</VMContext>

@code {
    CounterState state;
    VMContext vm;

    public class CounterState
    {
        public int CurrentCount { get; set; }
    }

    void HandleStateChange( object newState )
    {
        state = newState.As<CounterState>();
        StateHasChanged();
    }

    async void IncrementCount()
    {
        await vm.DispatchAsync( nameof( IncrementCount ) );
    }
}