
<section data-vm="BookStoreVM"> 
    <header>
    Each product here is represented by a unique URL that can be entered into the address bar to go directly to that
        specific product page.
    </header>
    <div data-bind="foreach: Books">
      <div>
        <center>
          <a data-bind="vmRoute: Route">
              <img class="thumbnail" data-bind="attr: {src: Info.ImageUrl}" />
          </a>
          <div>
              <b data-bind="text: Info.Title"></b>
              <div>by <span data-bind="text: Info.Author"></span></div>
          </div>
        </center>
      </div>
    </div>
</section>
<div id="BookPanel" />      