html {
  font-family: 'Segoe UI', Verdana, sans-serif;
  font-size: 16px;
  background-color: #f4f4f4;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}

li {
  float: left;
}

li a {
  display: block;
  color: #337ab7;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

li a:hover {
  background-color: white;
}

#Content {
  padding: 1rem;
}
