@page "/counter"

<h1>Counter</h1>

<VMContext ref="@vm" VM="Counter" OnStateChanged="@HandleStateChanged">
    <p>Current count: @state?.CurrentCount</p>

    <button class="btn btn-primary" onclick="@IncrementCount">Click me</button>
</VMContext>

@functions {
    CounterState state;
    VMContext vm;

    public class CounterState
    {
        public int CurrentCount { get; set; }
    }

    void HandleStateChanged( object newState )
    {
        state = newState.As<CounterState>();
        StateHasChanged();
    }

    void IncrementCount()
    {
        vm.DispatchAsync( nameof( IncrementCount ) );
    }
}