<div style="width: 335px; height: 310px" class="col-md-4">
   <div class="panel" data-vm="WidgetBarChartVM">
      <div class="panel-heading">
         <span data-bind="text: Title"></span>
         <div>
            <span style="font-weight: bold; font-size:x-large;" data-bind="text: TotalValue"></span>
            <span class="badge pull-right" data-bind="text: SpecificValue"></span>
         </div>
         <div style="font-size:xx-small" data-bind="text: Description"></div>
      </div>
      <div class="panel-body">
         <canvas style="max-width: 100%" data-bind="vmOnce: { Data: initChart }, vmOn: { SelectedMonth: highlight }" />
      </div>
   </div>
</div>

<script type="text/javascript">
   var WidgetBarChartVM = (function () {
      return {
         initChart: function (iItem, iElement) {
            
            // Create the chart with ChartJS.
            var dataset = this.Data();
            var labels = [], data = [];
            for (var i = 0 ; i < dataset.length; i++) {
               labels.push(dataset[i][0]);
               data.push(dataset[i][1]);
            }
            this._chart = new Chart(iElement.getContext('2d'))
                .Bar({
                   labels: labels,
                   datasets: [{ data: data, fillColor: "rgba(220,210,210,0.9)", strokeColor: "#dfdcdc", pointColor: "#dfdcdc", pointStrokeColor: "#fff" }]
                }, { animationSteps: 20 });
         },

         highlight: function () {
            var month = this.SelectedMonth();
            var chart = this._chart;
            if (chart != null && month > 0) {
               // Reset the color of all the bars.
               for (i = 0; i < 12; i++)
                  chart.datasets[0].bars[i].fillColor = "rgba(220,210,210,0.9)";
               // Set the highlight on the bar of the selected month.
               chart.datasets[0].bars[month - 1].fillColor = "#f86868";
               chart.update();
            }
         }
      }
   })();
</script>
