<VMContext VM="HelloWorld" OnStateChange="@HandleStateChange">
    <div>@state?.Greetings</div>
</VMContext>

@code {
    HelloWorldState state;

    class HelloWorldState
    {
        public string Greetings { get; set; }
    }

    void HandleStateChange(object newState)
    {
        state = newState.As<HelloWorldState>();
        StateHasChanged();
    }
}