<VMContext VM="HelloWorld" TState="HelloWorldState" OnStateChange="@HandleStateChange">
    <div>@state?.Greetings</div>
</VMContext>

@code {
    HelloWorldState state;

    class HelloWorldState
    {
        public string Greetings { get; set; }
    }

    void HandleStateChange(HelloWorldState newState)
    {
        state = newState;
        StateHasChanged();
    }
}