<VMContext VM="RealTimePush" TState="HelloWorldState" OnStateChange="@HandleStateChange">
    <div>
        <p>@state?.Greetings</p>
        <p>Server time is: @state?.ServerTime</p>
    </div>
</VMContext>

@code {
    HelloWorldState state;

    class HelloWorldState
    {
        public string Greetings { get; set; }
        public string ServerTime { get; set; }
    }

    void HandleStateChange(HelloWorldState newState)
    {
        state = newState;
        StateHasChanged();
    }
}