<VMContext @ref="@vm" VM="ServerUpdate" OnStateChange="@HandleStateChange">
    <div>
        <p>@state?.Greetings</p>
        <input type="text" @bind="person.FirstName" />
        <input type="text" @bind="person.LastName" />
        <button @onclick="@HandleSubmit">Submit</button>
    </div>
</VMContext>

@code {
    VMContext vm;
    ServerUpdateState state;
    Person person = new Person();

    class ServerUpdateState
    {
        public string Greetings { get; set; }
    }

    class Person
    {
        public string FirstName { get; set; }
        public string LastName { get; set; }
    }

    void HandleSubmit()
    {
        vm.DispatchAsync("Submit", person);
    }

    void HandleStateChange(object newState)
    {
        state = newState.As<ServerUpdateState>();
        StateHasChanged();
    }
}