<VMContext @ref="@vm" VM="ServerUpdate" TState="ServerUpdateState" OnStateChange="@HandleStateChange">
    <div>
        <p>@state?.Greetings</p>
        <input type="text" @bind="person.FirstName" />
        <input type="text" @bind="person.LastName" />
        <button @onclick="@HandleSubmitAsync">Submit</button>
    </div>
</VMContext>

@code {
    VMContext<ServerUpdateState> vm;
    ServerUpdateState state;
    Person person = new Person();

    class ServerUpdateState
    {
        public string Greetings { get; set; }
    }

    class Person
    {
        public string FirstName { get; set; }
        public string LastName { get; set; }
    }

    async Task HandleSubmitAsync()
    {
        await vm.DispatchAsync("Submit", person);
    }

    void HandleStateChange(ServerUpdateState newState)
    {
        state = newState;
        StateHasChanged();
    }
}