<div data-vm="MusicDetailsVM">
   <br />
   <div class="page-header">
      <div>
         <div class="row">
            <div class="col-md-5 music">
               <img class="thumbnail" data-bind="attr: {src: ImageUrl}" />
            </div>
            <div class="col-md-6">
               <div class="product-overview">
                  <h2 data-bind="text: Title"></h2>
                  <h4>
                     by <span data-bind="text: Artist"></span>
                  </h4>
                  <div>
                     <div data-bind="foreach: Rating">
                        <span class="glyphicon glyphicon-star"></span>
                     </div>
                     <br />
                     <a data-bind="attr: {href: ItemUrl}">
                        <button type="button" class="btn btn-lg btn-primary">Buy</button>
                     </a>
                  </div>
                  <div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>