<!DOCTYPE html>
<html>
<head>
   <title></title>
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="/Content/DemoCss/bootstrap.min.css" rel="stylesheet">
   <link href="/Content/DemoCss/demo.css" rel="stylesheet">
   <script src="/Scripts/Demo/TreeView.js"></script>
   <script src="/Scripts/Demo/CompositeView.js"></script>
   <script src="/Scripts/require.min.js" data-main="/Scripts/Demo/demoApp"></script>
</head>
<body>
   <!-- Master VM scope -->
   <div class="container-fluid">
      <div class="header clearfix">
         <h3>Example: Composite View</h3>
      </div>
      <div class="panel panel-default" data-master-vm="CompositeViewVM">
         <div class="panel-heading">
            <div>ACME Employees Composite View</div>
         </div>
         <div class="panel-body">
            <!-- LinkedGridView VM scope -->
            <div class="col-md-5" data-vm="LinkedGridViewVM">
               <table class="table table-hover table-striped panel-primary">
                  <thead>
                     <tr data-bind="foreach: ListHeader">
                        <th data-bind="text: Text" />
                     </tr>
                  </thead>
                  <tbody data-bind="foreach: Employees, vmItemKey: Id">
                     <tr data-bind="css: { 'active info': $root.SelectedId() == Id() }, vmCommand: { SelectedId: Id }">
                        <td style="width:50%" data-bind="text: FirstName"/>
                        <td style="width:50%" data-bind="text: LastName" />
                     </tr>
                  </tbody>
               </table>
            </div>
            <!-- LinkedTreeView VM scope -->
            <div class="col-md-7" data-vm="LinkedTreeViewVM">
               <div data-bind="template: {name: 'tree-template', data: Root}"></div>

               <script type="text/html" id="tree-template">
                  <span class="btn-md glyphicon glyphicon-user" data-bind="css: { canExpand: CanExpand }"></span>
                  <span class="btn-default btn-md" data-bind="text: Name, css: { active: $root.isSelected($data) }, vmCommand: { SelectedId: Id }"></span>&nbsp;
                  <div data-bind="visible: Expanded">
                     <ul class="no-bullet" data-bind="foreach: Children, vmItemKey: Id">
                        <li>
                           <div class="btn-md">
                              <span class="indent" data-bind="visible: !CanExpand()">&nbsp;</span>
                              <span class="btn-default btn-md glyphicon" data-bind="vmCommand: expand, visible: CanExpand, css: $root.expandIcon($data)"></span>
                              <span data-bind="template: {name: 'tree-template', data: $data}"></span>
                           </div>
                        </li>
                     </ul>
                  </div>
               </script>
            </div>
         </div>
      </div>
   </div>
</body>
</html>
