<!DOCTYPE html>
<html>
<head>
   <title></title>
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="/Content/DemoCss/bootstrap.min.css" rel="stylesheet">
   <script src="/Scripts/DemoLibs/chart.min.js"></script>
   <script src="/Scripts/Demo/LiveChart.js"></script>
   <script src="/Scripts/require.min.js" data-main="/Scripts/Demo/demoApp"></script>
</head>
<body>
   <div class="container-fluid">
      <div class="header clearfix">
         <h3>Example: Live Chart</h3>
      </div>
      <div data-vm="LiveChartVM">
         <div class="well" style="background-color: white">
            <canvas style="max-width:100%" data-bind="vmOn: { Data: updateChart }" />
         </div>
      </div>
   </div>
</body>
</html>
