<div style="width: 335px; height: 310px" class="col-md-4">
   <style>
      .selected {
         background-color: #f86868 !important;
      }
   </style>
   <div class="panel" data-vm="WidgetCalendarVM">
      <div class="panel-body">
         <div id="Calendar" data-bind="vmOnce: { SelectedDate: createCalendar }"></div>
      </div>
   </div>
</div>

<link href="/css/demo/zabuto_calendar.min.css" rel="stylesheet">
<script src="/lib/demo/zabuto_calendar.min.js"></script>
<script type="text/javascript">
   var WidgetCalendarVM = (function () {
      return {
         createCalendar: function (iItem, iElement) {
            var vm = this;

            // Create the calendar.
            var elem = $(iElement);
            elem.zabuto_calendar({
               language: "en",
               today: true,
               action: function () {
                  var dateElem = $("#" + this.id);
                  vm.SelectedDate(dateElem.data("date"));

                  // Move the highlight style from previous date to currently selected date.
                  elem.find(".selected").removeClass("selected");
                  dateElem.addClass("selected");
               },
               action_nav: function () {
                  var to = $("#" + this.id).data("to");
                  vm.CurrentMonth(to.month);
               }
            });
         }
      }
   })();
</script>
