<!DOCTYPE html>
<html>
<head>
   <title></title>
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="/Content/DemoCss/bootstrap.min.css" rel="stylesheet">
   <script src="/Scripts/require.min.js" data-main="/Scripts/Demo/demoApp"></script>
</head>
<body>
   <div class="container-fluid">
      <div class="header clearfix">
         <h3>Example: Control Types (Auto-Binding)</h3>
      </div>
      <div class="jumbotron" data-vm="AutoBindingVM">
         <div class="row">
            <div class="col-md-3">
               <label>Text box:</label>
               <div class="dfn small">(updates on losing focus)</div>
            </div>
            <div class="col-md-6">
               <input id="TextBox" class="form-control" type="text" />
            </div>
            <div class="col-md-3">
               <div id="TextBoxResult"></div>
            </div>
         </div>
         <hr />
         <div class="row">
            <div class="col-md-3">
               <label>Search box:</label>
               <div class="dfn small">(updates on keystroke)</div>
            </div>
            <div class="col-md-6">
               <input id="SearchBox" class="form-control" type="search" />
               <ul id="SearchResults" class="list-group">
                  <li id="SearchResults.$data" class="list-group-item"></li>
               </ul>
            </div>
         </div>
         <hr />
         <div class="row">
            <div class="col-md-3">
               <label>Check box:</label>
            </div>
            <div class="col-md-6 checkbox">
               <label><input id="ShowMeCheckBox" type="checkbox" />Show me</label>&nbsp;&nbsp;
               <label><input id="EnableMeCheckBox" type="checkbox" />Enable me</label>
            </div>
            <div class="col-md-3">
               <button id="CheckBoxButton" class="btn btn-primary"><span id="CheckBoxResult" /></button>
            </div>
         </div>
         <hr />
         <div class="row">
            <div class="col-md-3">
               <label>Simple drop-down list:</label>
               <div class="dfn small">(string data type)</div>
            </div>
            <div class="col-md-6">
               <select id="SimpleDropDown"></select>
            </div>
            <div class="col-md-3">
               <div id="SimpleDropDownResult"></div>
            </div>
         </div>
         <hr />
         <div class="row">
            <div class="col-md-3">
               <label>Drop-down list:</label>
               <div class="dfn small">(object data type)</div>
            </div>
            <div class="col-md-6">
               <select id="DropDown"></select>
            </div>
            <div class="col-md-3">
               <div id="DropDownResult"></div>
            </div>
         </div>
         <hr />
         <div class="row">
            <div class="col-md-3">
               <label>Radio button:</label>
            </div>
            <div class="col-md-6">
               <label id="RadioButtonStyle" class="alert"><input id="RadioButtonValue" type="radio" value="green" />&nbsp;Green</label>
               <label id="RadioButtonStyle" class="alert"><input id="RadioButtonValue" type="radio" value="yellow" />&nbsp;Yellow</label>
            </div>
         </div>
         <hr />
         <div class="row">
            <div class="col-md-3">
               <label>Button:</label>
            </div>
            <div class="col-md-6">
               <button id="ButtonClickCommand" type="button" class="btn btn-default">Click me</button>
            </div>
            <div class="col-md-3" data-bind="if: ClickCount() > 0">
               You clicked me <b><span id="ClickCount" /></b>&nbsp;times!
            </div>
         </div>
      </div>
   </div>
</body>
</html>
