<!DOCTYPE html>
<html>
<head>
   <title></title>
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="/Content/DemoCss/bootstrap.min.css" rel="stylesheet">
   <script src="/Scripts/require.min.js" data-main="/Scripts/Demo/demoApp"></script>

   <!-- 1. Load webcomponents-lite.min.js for polyfill support. -->
   <script src="/Scripts/lib/webcomponentsjs/webcomponents-lite.min.js"></script>
   <!-- 2. Use an HTML Import to bring in some elements. -->
   <link rel="import" href="/Scripts/lib/paper-button/paper-button.html">
   <link rel="import" href="/Scripts/lib/paper-card/paper-card.html">
   <link rel="import" href="/Scripts/lib/paper-checkbox/paper-checkbox.html">
   <link rel="import" href="/Scripts/lib/paper-dropdown-menu/paper-dropdown-menu.html">
   <link rel="import" href="/Scripts/lib/paper-input/paper-input.html">
   <link rel="import" href="/Scripts/lib/paper-item/paper-item.html">
   <!--<link rel="import" href="/Scripts/lib/paper-listbox/paper-listbox.html">-->
   <link rel="import" href="/Scripts/lib/paper-radio-button/paper-radio-button.html">
   <link rel="import" href="/Scripts/lib/paper-radio-group/paper-radio-group.html">
   <link rel="import" href="/Scripts/lib/iron-icons/iron-icons.html">
</head>
<body>
   <paper-card heading="Example: Polymer Paper (Auto-Binding)" style="width: 98%; margin-left: 1%; margin-top: 1%">
      <div class="card-content" data-vm="AutoBindingVM">
         <!-- Text Box -->
         <div class="row">
            <div class="col-md-3">
               <label>Text box:</label>
               <div class="dfn small">(updates on losing focus)</div>
            </div>
            <div class="col-md-6">
               <paper-input id="TextBox" required char-counter maxlength=20 auto-validate></paper-input>
            </div>
            <div class="col-md-3">
               <div id="TextBoxResult"></div>
            </div>
         </div>
         <hr />
         <!-- Search Box -->
         <div class="row">
            <div class="col-md-3">
               <label>Search box:</label>
               <div class="dfn small">(updates on keystroke)</div>
            </div>
            <div class="col-md-6">
               <paper-input id="SearchBox" type="search">
                  <iron-icon icon="search" prefix></iron-icon>
               </paper-input>
               <ul id="SearchResults" class="list-group">
                  <li id="SearchResults.$data" class="list-group-item"></li>
               </ul>
            </div>
         </div>
         <hr />
         <!-- Checkbox -->
         <div class="row">
            <div class="col-md-3">
               <label>Check box:</label>
            </div>
            <div class="col-md-6">
               <paper-checkbox id="ShowMeCheckBox">Show me</paper-checkbox>&nbsp;&nbsp;
               <paper-checkbox id="EnableMeCheckBox">Enable me</paper-checkbox>
            </div>
            <div class="col-md-3">
               <paper-button id="CheckBoxButton" raised><span id="CheckBoxResult" /></paper-button>
            </div>
         </div>
         <hr />
         <!-- Dropdown -->
         <div class="row">
            <div class="col-md-3">
               <label>Drop-down list:</label>
            </div>
            <div class="col-md-6">
               <paper-dropdown-menu id="DropDown" vertical-align="bottom">
                  <paper-listbox class="dropdown-content" style="width: 12em">
                     <paper-item></paper-item>
                  </paper-listbox>
               </paper-dropdown-menu>
            </div>
            <div class="col-md-3">
               <div id="DropDownResult"></div>
            </div>
         </div>
         <!-- Radio button -->
         <hr />
         <div class="row">
            <div class="col-md-3">
               <label>Radio button:</label>
            </div>
            <div class="col-md-6">
               <paper-radio-group id="RadioButtonValue">
                  <paper-radio-button name="green">Green</paper-radio-button>
                  <paper-radio-button name="yellow">Yellow</paper-radio-button>
               </paper-radio-group>
            </div>
            <div class="col-md-3">
               <label id="RadioButtonStyle" class="alert"></label>
            </div>
         </div>
         <!-- Button -->
         <hr />
         <div class="row">
            <div class="col-md-3">
               <label>Button:</label>
            </div>
            <div class="col-md-6">
               <paper-button id="ButtonClickCommand" raised>Click me</paper-button>
            </div>
            <div class="col-md-3" data-bind="if: ClickCount() > 0">
               You clicked me <b><span id="ClickCount" /></b>&nbsp;times!
            </div>
         </div>
      </div>
   </paper-card>
</body>
</html>
