<!DOCTYPE html>
<html>
<head>
   <title></title>
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="/Content/DemoCss/bootstrap.min.css" rel="stylesheet">
   <script src="/Scripts/require.min.js" data-main="/Scripts/Demo/demoApp"></script>

   <!-- 1. Load webcomponents-lite.min.js for polyfill support. -->
   <script src="/Scripts/lib/webcomponentsjs/webcomponents-lite.min.js"></script>
   <!-- 2. Use an HTML Import to bring in some elements. -->
   <link rel="import" href="/Scripts/lib/iron-collapse/iron-collapse.html">
   <link rel="import" href="/Scripts/lib/iron-icons/iron-icons.html">
   <link rel="import" href="/Scripts/lib/iron-pages/iron-pages.html">
   <link rel="import" href="/Scripts/lib/paper-badge/paper-badge.html">
   <link rel="import" href="/Scripts/lib/paper-button/paper-button.html">
   <link rel="import" href="/Scripts/lib/paper-card/paper-card.html">
   <link rel="import" href="/Scripts/lib/paper-checkbox/paper-checkbox.html">
   <link rel="import" href="/Scripts/lib/paper-dropdown-menu/paper-dropdown-menu.html">
   <link rel="import" href="/Scripts/lib/paper-icon-button/paper-icon-button.html">
   <link rel="import" href="/Scripts/lib/paper-input/paper-input.html">
   <link rel="import" href="/Scripts/lib/paper-item/paper-item.html">
   <link rel="import" href="/Scripts/lib/paper-listbox/paper-listbox.html">
   <link rel="import" href="/Scripts/lib/paper-menu/paper-menu.html">
   <link rel="import" href="/Scripts/lib/paper-menu/paper-submenu.html">
   <link rel="import" href="/Scripts/lib/paper-menu-button/paper-menu-button.html">
   <link rel="import" href="/Scripts/lib/paper-progress/paper-progress.html">
   <link rel="import" href="/Scripts/lib/paper-radio-button/paper-radio-button.html">
   <link rel="import" href="/Scripts/lib/paper-radio-group/paper-radio-group.html">
   <link rel="import" href="/Scripts/lib/paper-slider/paper-slider.html">
   <link rel="import" href="/Scripts/lib/paper-styles/paper-styles.html" />
   <link rel="import" href="/Scripts/lib/paper-tabs/paper-tabs.html">
   <link rel="import" href="/Scripts/lib/paper-toast/paper-toast.html">
   <link rel="import" href="/Scripts/lib/paper-toggle-button/paper-toggle-button.html">

   <style>
      #Example {
         width: 98%;
         margin-left: 1%;
         margin-top: 1%;
      }

      #Badge {
         margin-left: .8em;
      }

      #Progress {
         width: 90%;
         margin: -1.3em 6em;
      }

      #Tab {
         background-color: #0d47a1;
         color: white;
      }

      .menu-width {
         width: 12em;
      }

      iron-pages {
         width: 100%;
         height: 200px;
         font-size: 50px;
         color: white;
         text-align: center;
      }

         iron-pages div {
            width: 100%;
            height: 100%;
            padding: 80px 0;
         }

            iron-pages div:nth-child(1) {
               background-color: #4285f4;
            }

            iron-pages div:nth-child(2) {
               background-color: #db4437;
            }

            iron-pages div:nth-child(3) {
               background-color: #0f9d58;
            }
   </style>
</head>
<body>
   <paper-card id="Example" heading="Example: Polymer Paper (Auto-Binding)">
      <div class="polymer card-content" data-vm="AutoBindingVM">
         <!-- Text Box -->
         <div class="row">
            <div class="col-md-3">
               <label>Text box:</label>
               <div class="dfn small">(updates on losing focus)</div>
            </div>
            <div class="col-md-6">
               <paper-input id="TextBox" required char-counter maxlength=20 auto-validate></paper-input>
            </div>
            <div class="col-md-3">
               <div id="TextBoxResult"></div>
            </div>
         </div>
         <hr />
         <!-- Search Box -->
         <div class="row">
            <div class="col-md-3">
               <label>Search box:</label>
               <div class="dfn small">(updates on keystroke)</div>
            </div>
            <div class="col-md-6">
               <paper-input id="SearchBox" type="search">
                  <iron-icon icon="search" prefix></iron-icon>
               </paper-input>
               <ul id="SearchResults" class="list-group">
                  <li id="SearchResults.$data" class="list-group-item"></li>
               </ul>
            </div>
         </div>
         <hr />
         <!-- Checkbox -->
         <div class="row">
            <div class="col-md-3">
               <label>Check box:</label>
            </div>
            <div class="col-md-6">
               <paper-checkbox id="ShowMeCheckBox">Show me</paper-checkbox>&nbsp;&nbsp;
               <paper-checkbox id="EnableMeCheckBox">Enable me</paper-checkbox>
            </div>
            <div class="col-md-3">
               <paper-button id="CheckBoxButton" raised><span id="CheckBoxResult"></span></paper-button>
            </div>
         </div>
         <hr />
         <!-- Dropdown -->
         <div class="row">
            <div class="col-md-3">
               <label>Drop-down list:</label>
            </div>
            <div class="col-md-6">
               <paper-dropdown-menu id="DropDown">
                  <paper-listbox class="dropdown-content menu-width">
                     <paper-item></paper-item>
                  </paper-listbox>
               </paper-dropdown-menu>
            </div>
            <div class="col-md-3">
               <div id="DropDownResult"></div>
            </div>
         </div>
         <hr />
         <!-- Radio button -->
         <div class="row">
            <div class="col-md-3">
               <label>Radio button:</label>
            </div>
            <div class="col-md-6">
               <paper-radio-group id="RadioButtonValue">
                  <paper-radio-button name="green">Green</paper-radio-button>
                  <paper-radio-button name="yellow">Yellow</paper-radio-button>
               </paper-radio-group>
            </div>
            <div class="col-md-3">
               <label id="RadioButtonStyle" class="alert"></label>
            </div>
         </div>
         <hr />
         <!-- Toggle button -->
         <div class="row">
            <div class="col-md-3">
               <label>Toggle button:</label>
            </div>
            <div class="col-md-6">
               <paper-toggle-button id="ToggleButton"></paper-toggle-button>
            </div>
            <div class="col-md-3">
               <label id="ToggleButtonStyle" class="alert"></label>
            </div>
         </div>
         <hr />
         <!-- Button -->
         <div class="row">
            <div class="col-md-3">
               <label>Button:</label>
            </div>
            <div class="col-md-6">
               <paper-button id="ButtonClickCommand" raised>Click me</paper-button>
            </div>
            <div class="col-md-3" data-bind="if: ClickCount() > 0">
               You clicked me <b><span id="ClickCount"></span></b>&nbsp;times!
            </div>
         </div>
         <hr />
         <!-- Icon Button and Badge -->
         <div class="row">
            <div class="col-md-3">
               <label>Icon Button &amp; Badge:</label>
            </div>
            <div class="col-md-6">
               <paper-icon-button id="IconUpCommand" icon="arrow-drop-up"></paper-icon-button>
               <paper-icon-button id="IconDownCommand" icon="arrow-drop-down"></paper-icon-button>
               <span>
                  Inbox
                  <paper-badge id="Badge"></paper-badge>
               </span>
            </div>
            <div class="col-md-3"></div>
         </div>
         <hr />
         <!-- Progress -->
         <div class="row">
            <div class="col-md-3">
               <label>Progress:</label>
            </div>
            <div class="col-md-6">
               <paper-button id="StartProgressCommand" raised>Start</paper-button>
               <paper-progress id="Progress"></paper-progress>
            </div>
            <div class="col-md-3"></div>
         </div>
         <hr />
         <!-- Slider -->
         <div class="row">
            <div class="col-md-3">
               <label>Slider:</label>
            </div>
            <div class="col-md-6">
               <paper-slider id="Slider"></paper-slider>
            </div>
            <div class="col-md-3">
               <div id="SliderResult"></div>
            </div>
         </div>
         <hr />
         <!-- Tabs -->
         <div class="row">
            <div class="col-md-3">
               <label>Tabs:</label>
            </div>
            <div class="col-md-6">
               <paper-tabs id="Tab">
                  <paper-tab>TAB 1</paper-tab>
                  <paper-tab>TAB 2</paper-tab>
                  <paper-tab>TAB 3</paper-tab>
               </paper-tabs>

               <iron-pages id="TabPage">
                  <div>Page 1</div>
                  <div>Page 2</div>
                  <div>Page 3</div>
               </iron-pages>
            </div>
            <div class="col-md-3">
               <div id="TabsResult"></div>
            </div>
         </div>
         <hr />
         <!-- Toast -->
         <div class="row">
            <div class="col-md-3">
               <label>Toast:</label>
            </div>
            <div class="col-md-6">
               <paper-button id="ShowToastCommand" raised>Show</paper-button>
               <paper-toast id="Toast"></paper-toast>
            </div>
            <div class="col-md-3"/>
         </div>
         <hr />
      </div>
   </paper-card>
</body>
</html>
