@page "/counter"
@using DotNetify.Blazor;
@implements IDisposable
@inject IVMContext<CounterState> VMContext;

<h1>Counter</h1>

<d-vm-context ref="@VMContext.ElementRef" vm="Counter">
    <p>Current count: @state.CurrentCount</p>

    <button class="btn btn-primary" onclick="@IncrementCount">Click me</button>
</d-vm-context>

@functions {
    CounterState state = new CounterState();

    class CounterState
    {
        public int CurrentCount { get; set; }
    }

    protected override async Task OnAfterRenderAsync()
    {
        await VMContext.HandleStateChangedAsync((sender, e) => { state = e; StateHasChanged(); });
    }

    public void Dispose()
    {
        VMContext.Dispose();
    }

    void IncrementCount()
    {
        VMContext.DispatchAsync(nameof(IncrementCount));
    }
}