@page "/counter"
@using DotNetify.Blazor;
@using Microsoft.AspNetCore.Components;
@inject IVMContext<CounterState> VMContext;

<h1>Counter</h1>

<d-vm-context ref="vmContextRef" vm="CounterVM">
    <p>Current count: @state.CurrentCount</p>

    <button class="btn btn-primary" onclick="@IncrementCount">Click me</button>
</d-vm-context>

@functions {
    CounterState state = new CounterState();
    ElementRef vmContextRef;

    public class CounterState
    {
        public int CurrentCount { get; set; }
    }

    protected override void OnInit()
    {
        VMContext.StateChanged += (sender, e) => { state = e; StateHasChanged(); };
    }

    protected override async Task OnAfterRenderAsync()
    {
        await VMContext.InitAsync(vmContextRef);
    }

    void IncrementCount()
    {
        VMContext.DispatchAsync(nameof(IncrementCount));
    }
}