<!DOCTYPE html>
<html>
<head>
   <title></title>
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="/css/demo/bootstrap.min.css" rel="stylesheet">
   <script src="/lib/require.min.js" data-main="/js/demo/demoApp"></script>
</head>
<body>
   <div class="container-fluid">
      <h3>Example: Dynamic LINQ</h3>
      <div data-vm="AFITop100VM">
         <h4 class="alert alert-info">AFI's 100 Greatest American Films of All Time</h4>
         <div class="well">
            <!-- Query help description -->
            <div>
               <small>
                  Search this list by entering a <b>case-sensitive</b> query expression, e.g:
                  <ul>
                     <li>Movie = &quot;Vertigo&quot;</li>
                     <li>Cast.contains(&quot;De Niro&quot;) AND Rank <= 10</li>
                     <li>Year > 1970 AND (Director.startsWith(&quot;Steven&quot;) OR Director.endsWith(&quot;Lucas&quot;))</li>
                     <li>Cast.toLower().contains("hepburn")</li>
                  </ul>
               </small>
            </div>
            <!-- Query input box -->
            <div class="input-group">
               <span class="input-group-addon">Search:</span>
               <input class="form-control" type="text" data-bind="textInput: Query" placeholder="Enter a query expression here" />
            </div>
            <!-- Auto-complete check box -->
            <div class="checkbox pull-left">
               <label><input type="checkbox" data-bind="checked: EnableAutoComplete"> <small data-bind="html: AutoCompleteCaption"></small></label>
            </div>
            <!-- Parse exception error box -->
            <div class="label label-danger pull-right" data-bind="text: QueryError"></div>
            <br />
         </div>
         <!-- Movies list -->
         <table class="table table-hover table-striped panel-primary">
            <thead>
               <tr>
                  <th>Rank</th>
                  <th>Movie</th>
                  <th>Year</th>
                  <th>Cast</th>
                  <th>Director</th>
               </tr>
            </thead>
            <tbody data-bind="foreach: Movies, vmItemKey: 'Rank'">
               <tr>
                  <td><div data-bind="text: Rank" /></td>
                  <td><div data-bind="text: Movie" /></td>
                  <td><div data-bind="text: Year" /></td>
                  <td><div data-bind="text: Cast" /></td>
                  <td><div data-bind="text: Director" /></td>
               </tr>
            </tbody>
         </table>
         <!-- Pagination links -->
         <ul class="pagination" data-bind="foreach: Pagination">
            <li><a href="#" data-bind="vmCommand: { Page: $data }"><span data-bind="text: $data"></span></a></li>
         </ul>
      </div>
   </div>
</body>
</html>
