<!DOCTYPE html>
<html>
<head>
   <title></title>
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="/css/demo/bootstrap.min.css" rel="stylesheet">
   <script src="/js/demo/BetterList.js"></script>
   <script src="/lib/require.min.js" data-main="/js/demo/demoApp"></script>
</head>
<body>
   <div class="container-fluid">
      <div class="header clearfix">
         <h3>Example: Better List</h3>
      </div>
      <div class="panel panel-default" data-vm="BetterListVM">
         <div class="panel-heading">ACME Employees</div>
         <div class="panel-body">

            <div class="input-group">
               <div class="row">
                  <div class="col-md-3">
                     <input class="form-control" type="text" placeholder="First name" size="30" data-bind="value: _firstName" />
                  </div>
                  <div class="col-md-3">
                     <input class="form-control" type="text" placeholder="Last name" size="30" data-bind="value: _lastName" />
                  </div>
                  <div class="col-md-2">
                     <button class="btn btn-primary" type="button" data-bind="vmCommand: add">Add</button>
                  </div>
               </div>
            </div>
            <hr />
            <table class="table table-hover table-striped panel-primary">
               <thead>
                  <tr>
                     <th>First Name</th>
                     <th>Last Name</th>
                     <th></th>
                  </tr>
               </thead>
               <tbody data-bind="foreach: Employees, vmItemKey: Id">
                  <tr>
                     <td style="width:45%">
                        <div>
                           <span data-bind="text: FirstName, vmCommand: edit"></span>
                           <input style="display:none" class="form-control" type="text" data-bind="value: FirstName" />
                        </div>
                     </td>
                     <td style="width:45%">
                        <div>
                           <span data-bind="text: LastName, vmCommand: edit"></span>
                           <input style="display:none" class="form-control" type="text" data-bind="value: LastName" />
                        </div>

                     </td>
                     <td style="width: 10%">
                        <span class="pull-right glyphicon glyphicon-remove" data-bind="vmCommand: remove"></span>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</body>
</html>
