<div style="width: 335px; min-height: 310px" class="col-md-3">
   <div class="panel" data-vm="WidgetToDoListVM">
      <div class="panel-heading">
         <div class="pull-right">
            <div class="tododay" data-bind="text: Day"></div>
            <div class="todoweek" data-bind="text: Weekday"></div>
         </div>
         <span class="glyphicon glyphicon-pencil"></span>
         <span><strong>Things To Do</strong></span>
      </div>
      <div class="panel-body">
         <input type="text" class="form-control" placeholder="What do you need to do?" data-bind="value: NewToDo">
         <div data-bind="foreach: ToDoList, vmItemKey: Id">
            <div class="checkbox">
               <label style="width:100%">
                  <input type="checkbox" data-bind="checked: Done">
                  <span data-bind="text: Description, style: { 'text-decoration' : Done() ? 'line-through' : 'none' }"></span>
                  <span data-bind="vmCommand: { RemoveToDo: Id }" class="glyphicon glyphicon-remove pull-right" style="color:#f56333"></span>
               </label>
            </div>
         </div>
      </div>
   </div>
</div>