<div style="width: 335px; height: 310px" class="col-md-4">
   <div class="panel" data-vm="WidgetLineChartVM">
      <div class="panel-heading">
         <span data-bind="text: Title"></span>
         <div class="bigfont"><span data-bind="text: CurrentValue"></span><span>%</span></div>
         <div style="font-size:xx-small" data-bind="text: Description"></div>
      </div>
      <div class="panel-body">
         <canvas style="max-width:100%" data-bind="vmOn: { Data: updateChart }" />
      </div>
   </div>
</div>

<script type="text/javascript">
   var WidgetLineChartVM = (function () {
      return {
         updateChart: function (iItem, iElement) {
            var vm = this;

            if (vm._chart == null)
               vm._chart = this.createChart(iItem, iElement);
            else {
               var data = iItem.Data();
               if (data != null) {
                  for (var i = 0; i < data.length; i++) {
                     vm._chart.addData([data[i][1]], "");
                     vm._chart.removeData(); // Remove the oldest data.
                  }
               }
            }
            iItem.Data(null); // Reset the data.
         },

         createChart: function (iItem, iElement) {
            // Create the chart with ChartJS.
            var dataset = iItem.Data();
            var labels = [], data = [];
            for (var i = 0 ; i < dataset.length; i++) {
               labels.push("");
               data.push(dataset[i][1]);
            }
            return new Chart(iElement.getContext('2d'))
                .Line({
                   labels: labels,
                   datasets: [{ data: data, fillColor: "rgba(217,237,245,0.2)", strokeColor: "#9acfea", pointColor: "#9acfea", pointStrokeColor: "#fff" }]
                }, { animation: false });
         }
      }
   })();
</script>
