@using DotNetify.Routing
@model ViewModels.WebStore.BookDetailsVM

<div data-vm="BookDetailsVM" @Html.Raw(Model != null ? Model.InitArgs(ViewData["Routing"]) : null)>
   <br />
   <div class="page-header">
      <div>
         <div class="row">
            <div class="col-md-3 book">
               <img class="thumbnail" data-bind="attr: {src: ImageUrl}" src="@(Model != null ? Model.ImageUrl : "")" />
            </div>
            <div class="col-md-7">
               <div class="product-overview">
                  <h2 data-bind="text: Title">@(Model != null ? Model.Title : "")</h2>
                  <h4>
                     by <span data-bind="text: Author">@(Model != null ? Model.Author : "")</span>
                  </h4>
                  <div>
                     <br />
                     <a data-bind="attr: {href: ItemUrl}">
                        <button type="button" class="btn btn-lg btn-primary">Buy</button>
                     </a>
                  </div>
                  <div>
                     <br />
                     <!-- Nav tabs -->
                     <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active" data-bind="css: {active: ShowDetails}"><a href="#DetailsTab" role="tab" data-toggle="tab">Details</a></li>
                        <li role="presentation" data-bind="css: {active: ShowReviews}"><a href="#ReviewsTab" role="tab" data-toggle="tab">Reviews</a></li>
                     </ul>

                     <!-- Tab panes -->
                     <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" data-bind="css: {active: ShowDetails}" id="DetailsTab">
                           <div class="well">
                              <div><b>ISBN:</b> 1234567890</div>
                              <div><b>Publisher:</b> ACME Publishing</div>
                              <div><b>Format:</b> Paperback</div>
                           </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" data-bind="css: {active: ShowReviews}" id="ReviewsTab">
                           <div class="well">
                              <div>
                                 <b>The ACME Times Book Review</b>
                              </div>
                              Another strong offering from best-seller author <span data-bind="text: Author"></span>... This book elevates the genre.
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>