<div data-vm="MusicCategoryVM">
   <div class="page-header">
      <h2 data-bind="text: CategoryName"></h2>
   </div>
   <div>
      <div class="row" data-bind="foreach: Musics">
         <div class="music col-md-4">
            <center>
               <a data-bind="vmRoute: Route"><img class="thumbnail" data-bind="attr: {src: ImageUrl}" /></a>
               <strong data-bind="text: Title"></strong>
               <div>by <span data-bind="text: Artist"></span></div>
               <br/>
            </center>
         </div>
      </div>
      <br />
   </div>
</div>