@page "/dashboard"
@using Newtonsoft.Json;

<VMContext VM="Dashboard" OnStateChange=@((object e) => { state = e; StateHasChanged(); })>
    @if (state == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <d-panel>
            <d-panel horizontal="true" wrap="true">
                <d-panel>
                    <InfoCard Id="Download" Color="#1c8adb"></InfoCard>
                </d-panel>
                <d-panel>
                    <InfoCard id="Upload" Color="#5cb85c"></InfoCard>
                </d-panel>
                <d-panel>
                    <InfoCard id="Latency" Color="#f0ad4e"></InfoCard>
                </d-panel>
                <d-panel>
                    <InfoCard id="Users" Color="#d9534f"></InfoCard>
                </d-panel>
            </d-panel>
            <d-panel>
                <d-card>
                    <d-panel horizontal="true">
                        <d-panel flex="70%" style="min-width: 0">
                            <h4>Network Traffic</h4>
                            <d-line-chart id="Traffic" height="75px" streaming="true" />
                        </d-panel>
                        <d-panel flex="30%" style="min-width: 0">
                            <h4>Utilization</h4>
                            <d-pie-chart id="Utilization" />
                        </d-panel>
                    </d-panel>
                </d-card>
                <d-panel horizontal="true" center="true">
                    <d-card style="width: 500px">
                        <h4>Server Usage</h4>
                        <d-bar-chart id="ServerUsage" height="70px"></d-bar-chart>
                    </d-card>
                </d-panel>
            </d-panel>
        </d-panel>
    }
</VMContext>

@code {
    private object state;
}