<d-element id="@Id" css="i {background: @Color}">
    <d-card horizontal="true" css=".card-body {padding:.5rem 1.5rem; min-width: 12rem} h3 {font:600 2rem Helvetica}">
        <d-card-image css="i {font-size:3rem; padding:1.5rem; color:white; opacity:.8}">
            <i class="material-icons info-icon" slot="icon"></i>
        </d-card-image>
        <label slot="label"></label>
        <h3 slot="value"></h3>
    </d-card>
</d-element>

@code {
    [Parameter] public string Id { get; set; }
    [Parameter] public string Color { get; set; }
}