<div data-vm="BookDetailsVM">
   <div class="page-header">
      <h3 data-bind="text: Title"></h3>
   </div>
   <div class="container">
      <div class="row">
         <div class="col-md-4">
            <img data-bind="attr: {src: ImageUrl}" />
         </div>
         <div class="col-md-8">
            <div class="page-header">
               <h2 data-bind="text: Title"></h2>
            </div>
            <h3 data-bind="text: Author"></h3>
            <a data-bind="attr: {href: ItemUrl}"><button type="button" class="btn btn-lg btn-default">Buy</button></a>
         </div>
      </div>
   </div>
</div>