<div data-vm="BookCategoryVM">
   <div class="page-header">
      <h2 data-bind="text: CategoryName"></h2>
   </div>
   <div>
      <div class="row" data-bind="foreach: Books">
         <div class="book col-md-3">
            <center>
               <a data-bind="vmRoute: Route"><img class="thumbnail" data-bind="attr: {src: ImageUrl}" /></a>
               <strong data-bind="text: Title"></strong>
               <div>by <span data-bind="text: Author"></span></div>
               <br/>
            </center>
         </div>
      </div>
   </div>
</div>