<!DOCTYPE html>
<html>
<head>
   <title></title>
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="/Content/DemoCss/bootstrap.min.css" rel="stylesheet">
   <script src="/Scripts/require.min.js" data-main="/Scripts/Demo/demoApp"></script>
</head>
<body>
   <div class="container-fluid">
      <div class="header clearfix">
         <h3>Example: Control Types</h3>
      </div>
      <div class="jumbotron" data-vm="ControlTypesVM">
         <div class="row">
            <div class="col-md-3">
               <label>Text box:</label>
               <div class="dfn small">(updates on losing focus)</div>
            </div>
            <div class="col-md-6">
               <input class="form-control" type="text" data-bind="value: TextBoxValue, attr: { placeholder: TextBoxPlaceHolder }" />
            </div>
            <div class="col-md-3">
               <div data-bind="html: TextBoxResult"></div>
            </div>
         </div>
         <hr />
         <div class="row">
            <div class="col-md-3">
               <label>Search box:</label>
               <div class="dfn small">(updates on keystroke)</div>
            </div>
            <div class="col-md-6">
               <input class="form-control" type="text" data-bind="textInput: SearchBox, attr: { placeholder: SearchBoxPlaceHolder }" />
               <ul class="list-group" data-bind="foreach: SearchResults">
                  <li class="list-group-item" data-bind="text: $data"></li>
               </ul>
            </div>
         </div>
         <hr />
         <div class="row">
            <div class="col-md-3">
               <label>Check box:</label>
            </div>
            <div class="col-md-6 checkbox">
               <label><input type="checkbox" data-bind="checked: ShowMeCheckBox" />Show me</label>&nbsp;&nbsp;
               <label><input type="checkbox" data-bind="checked: EnableMeCheckBox" />Enable me</label>
            </div>
            <div class="col-md-3">
               <button class="btn btn-primary" data-bind="html: CheckBoxResult, enable: EnableMeCheckBox, visible: ShowMeCheckBox" />
            </div>
         </div>
         <hr />
         <div class="row">
            <div class="col-md-3">
               <label>Simple drop-down list:</label>
               <div class="dfn small">(string data type)</div>
            </div>
            <div class="col-md-6">
               <select data-bind="options: SimpleDropDownOptions, value: SimpleDropDownValue, optionsCaption: 'Choose...'"></select>
            </div>
            <div class="col-md-3">
               <div data-bind="html: SimpleDropDownResult"></div>
            </div>
         </div>
         <hr />
         <div class="row">
            <div class="col-md-3">
               <label>Drop-down list:</label>
               <div class="dfn small">(object data type)</div>
            </div>
            <div class="col-md-6">
               <select data-bind="options: DropDownOptions, optionsText: 'Text', optionsValue: 'Id', optionsCaption: DropDownCaption, value: DropDownValue"></select>
            </div>
            <div class="col-md-3">
               <div data-bind="html: DropDownResult"></div>
            </div>
         </div>
         <hr />
         <div class="row">
            <div class="col-md-3">
               <label>Radio button:</label>
            </div>
            <div class="col-md-6">
               <label class="alert" data-bind="css: RadioButtonStyle"><input type="radio" value="green" data-bind="checked: RadioButtonValue" />&nbsp;Green</label>
               <label class="alert" data-bind="css: RadioButtonStyle"><input type="radio" value="yellow" data-bind="checked: RadioButtonValue" />&nbsp;Yellow</label>
            </div>
         </div>
         <hr />
         <div class="row">
            <div class="col-md-3">
               <label>Button:</label>
            </div>
            <div class="col-md-6">
               <button type="button" class="btn btn-default" data-bind="vmCommand: ButtonClicked">Click me</button>
            </div>
            <div class="col-md-3" data-bind="if: ClickCount() > 0">
               You clicked me <b><span data-bind="text: ClickCount" /></b>&nbsp;times!
            </div>
         </div>
      </div>
   </div>
</body>
</html>
