<!DOCTYPE html>
<html>
<head>
   <title></title>
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="/Content/DemoCss/bootstrap.min.css" rel="stylesheet">
   <link href="/Content/DemoCss/demo.css" rel="stylesheet">
   <script src="/Scripts/Demo/GridView.js"></script>
   <script src="/Scripts/require.min.js" data-main="/Scripts/Demo/demoApp"></script>
</head>
<body>
   <div class="container-fluid">
      <div class="header clearfix">
         <h3>Example: Grid View</h3>
      </div>
      <div class="panel panel-default" data-vm="GridViewVM">
         <div class="panel-heading">
            &nbsp;
            <div class="pull-left" data-bind="text: ListTitle"></div>
            <div class="pull-right btn-group btn-group-xs" role="group">
               <button type="button" class="btn btn-default" data-bind="vmCommand: { ResourceCulture: 'en-us' }">English</button>
               <button type="button" class="btn btn-default" data-bind="vmCommand: { ResourceCulture: 'ja-jp' }">Japanese</button>
            </div>
         </div>
         <div class="panel-body">
            <div>
               <div class="input-group col-md-4">
                  <input class="form-control" type="text" data-bind="textInput: Search, attr: { placeholder: SearchPlaceHolder }" />
                  <span class="input-group-addon glyphicon glyphicon-search" style="top:0"></span>
               </div>
            </div>
            <hr />
            <div class="col-md-8">
               <input type="hidden" data-bind="with: _injectSortOrders" />
               <input type="hidden" data-bind="with: _injectEditFlags" />
               <table class="table table-hover table-striped panel-primary">
                  <thead>
                     <tr data-bind="foreach: ListHeader">
                        <th class="btn-default noselect" data-bind="vmCommand: sort">
                           <span data-bind="text: Text"></span>
                           <span style="width:14px" class="glyphicon" data-bind="css: { 'glyphicon-triangle-top': _sortAsc, 'glyphicon-triangle-bottom': _sortDesc}"></span>
                        </th>
                     </tr>
                  </thead>
                  <tbody data-bind="foreach: Employees, vmItemKey: 'Id'">
                     <tr data-bind="css: { 'active info': _isActive }, vmCommand: select">
                        <td style="width:50%">
                           <div>
                              <span id="FirstName" data-bind="text: FirstName, vmCommand: editFirstName, visible: !_editFirstName()"></span>
                              <input class="form-control" type="text" data-bind="value: FirstName, visible: _editFirstName, hasFocus: _editFirstName" />
                           </div>
                        </td>
                        <td style="width:50%">
                           <div>
                              <span id="LastName" data-bind="text: LastName, vmCommand: editLastName, visible: !_editLastName()"></span>
                              <input class="form-control" type="text" data-bind="value: LastName, visible: _editLastName, hasFocus: _editLastName" />
                           </div>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div class="col-md-4" data-bind="visible: SelectedId() > 0, with: SelectedDetails">
               <h1 data-bind="text: FullName"></h1>
               <h3>
                  <span class="glyphicon glyphicon-phone"></span>
                  <span data-bind="text: Phone"></span>
               </h3>
            </div>
         </div>
      </div>
   </div>
</body>
</html>
