<!DOCTYPE html>
<html>
<head>
   <title></title>
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="/Content/DemoCss/bootstrap.min.css" rel="stylesheet">
   <script src="/Scripts/require.min.js" data-main="/Scripts/Demo/demoApp"></script>
</head>
<body>
   <div class="container-fluid">
      <div class="header clearfix">
         <h3>Example: Hello World</h3>
      </div>
      <div class="jumbotron" data-vm="HelloWorldVM">
         <div class="row">
            <div class="col-md-6">
               <label>First name:</label>
               <input class="form-control" type="text" data-bind="value: FirstName" />
            </div>
            <div class="col-md-6">
               <label>Last name:</label>
               <input class="form-control" type="text" data-bind="value: LastName" />
            </div>
         </div>
         <hr />
         <div>
            Full name is <b><span data-bind="text: FullName" /></b>
         </div>
      </div>
   </div>
</body>
</html>
