<!DOCTYPE html>
<html>
<head>
   <title></title>
   <meta charset="utf-8" />
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="/Content/DemoCss/bootstrap.min.css" rel="stylesheet">
   <link href="/Content/DemoCss/demo.css" rel="stylesheet">
</head>
<body>
   <div class="well">
      <h1><span class="circle"></span>&nbsp;dotNetify</h1>
      <p>Simple, lighweight, yet powerful way to build modern .NET web applications.</p>
   </div>
   <div class="container-fluid">
      <a href="http://dotnetify.net">Website</a>
      <h3>Basic Examples</h3>
      <ul id="BasicExamples">
         <li>
            <a href="/demo/HelloWorld">Hello World</a>
            <div>Getting familiar with the basics</div>
         </li>
         <li>
            <a href="/demo/ControlTypes">Control Types</a>
            <div>Using various HTML control types</div>
         </li>
         <li>
            <a href="/demo/SimpleList">Simple List</a>
            <div>Simple CRUD list with no Javascript</div>
         </li>
         <li>
            <a href="/demo/BetterList">Better List</a>
            <div>Similar CRUD list with Javascript to optimize bandwidth usage</div>
         </li>
      </ul>
      <h3>Further Examples</h3>
      <ul id="FurtherExamples">
         <li>
            <a href="/demo/GridView">Grid View</a>
            <div>More complex list with master-detail view, search, sorting and localization</div>
         </li>
         <li>
            <a href="/demo/AFITop100">Dynamic LINQ</a>
            <div>Using Dynamic LINQ to do incremental search and produce paginated results</div>
         </li>
         <li>
            <a href="/demo/TreeView">Tree View</a>
            <div>Lazy loading technique on deep tree</div>
         </li>
         <li>
            <a href="/demo/CompositeView">Composite View</a>
            <div>Compositing a view and enabling communication between the sub-views</div>
         </li>
         <li>
            <a href="/demo/Dashboard">Dashboard</a>
            <div>Putting it all together: modular and dynamically interacting views</div>
         </li>
         <li>
            <a href="/WebStore">Web Store</a>
            <div>Routing, deep-linking and server-side rendering on a single-page application</div>
         </li>
      </ul>
      <h3>Real-Time Examples</h3>
      <ul id="RealTimeExamples">
         <li>
            <a href="/demo/LiveChart">Live Chart</a>
            <div>Working with real time push notification</div>
         </li>
         <li>
            <a href="/demo/JobQueue">Job Queue</a>
            <div>Simple job queue with real-time progress update</div>
         </li>
      </ul>
      <h3>Auto-Binding Examples</h3>
      <ul id="AutoBindingExamples">
         <li>
            <a href="/demo/autobinding/PolymerPaperTypes">Polymer Paper</a>
            <div>Auto-binding to Polymer paper elements</div>
         </li>
      </ul>
      <div class="copyright-notice">
         <br />
         <small>
            © 2016 Dicky Suryadi.&nbsp;
            All code licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache license version 2.0</a>
         </small>
         <br><br>
      </div>
   </div>

</body>
</html>
