<!DOCTYPE html>
<html>
<head>
   <title>dotNetify - Job Queue Example</title>
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="/Content/DemoCss/bootstrap.min.css" rel="stylesheet">
   <script src="/Scripts/Demo/JobQueue.js" type="text/javascript"></script>
   <script src="/Scripts/require.min.js" data-main="/Scripts/Demo/demoApp"></script>
</head>
<body class="container">
   <h3>Example: Job Queue</h3>
   <div data-vm="JobQueueVM">

      <div class="input-group">
         <span class="input-group-addon">Job ID:</span>
         <input class="form-control" type="text" data-bind="value: _jobID" placeholder="Enter a unique job ID" />
         <span class="input-group-btn">
            <button class="btn btn-primary" type="button" data-bind="vmCommand: add">Add</button>
         </span>
      </div>
      <br />

      <table class="table">
         <thead>
            <tr>
               <th>Queue</th>
               <th>Result</th>
            </tr>
         </thead>
         <tr>
            <td style="width: 50%">
               <div data-bind="foreach: JobProgress">
                  <div data-bind="text: ID"></div>
                  <div class="progress">
                     <div class="progress-bar" role="progressbar" data-bind="style: { width: Percent }">
                        <span data-bind="text: Percent"></span>
                     </div>
                  </div>
               </div>
            </td>

            <td>
               <div data-bind="html: _jobOutput"></div>
            </td>
         </tr>
      </table>
   </div>
</body>
</html>
