<!DOCTYPE html>
<html>
<head>
   <title></title>
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="/Content/DemoCss/bootstrap.min.css" rel="stylesheet">
   <link href="/Content/DemoCss/demo.css" rel="stylesheet">
   <script src="/Scripts/Demo/TreeView.js"></script>
   <script src="/Scripts/require.min.js" data-main="/Scripts/Demo/demoApp"></script>
</head>
<body>
   <div class="container-fluid">
      <div class="header clearfix">
         <h3>Example: Tree View</h3>
      </div>
      <div class="panel panel-default" data-vm="TreeViewVM">
         <div class="panel-heading">
            <div>ACME Organization Tree</div>
         </div>
         <div class="panel-body">
            <div data-bind="template: {name: 'tree-template', data: Root}"></div>

            <script type="text/html" id="tree-template">
               <span class="tree-btn btn-lg glyphicon glyphicon-user" data-bind="css: { canExpand: CanExpand }"></span>
               <span class="btn-default tree-btn btn-lg"
                     data-bind="text: Name, css: { active: $root.isSelected($data) }, vmCommand: { SelectedId: Id }"></span>&nbsp;
               <div data-bind="visible: Expanded">
                  <ul class="no-bullet" data-bind="foreach: Children, vmItemKey: Id">
                     <li>
                        <div class="tree-btn btn-lg">
                           <span class="tree-indent" data-bind="visible: !CanExpand()">&nbsp;</span>
                           <span class="btn-default tree-btn btn-lg glyphicon"
                                 data-bind="vmCommand: expand, visible: CanExpand, css: $root.expandIcon($data)"></span>
                           <span data-bind="template: {name: 'tree-template', data: $data}"></span>
                        </div>
                     </li>
                  </ul>
               </div>
            </script>
         </div>
      </div>
   </div>
</body>
</html>
